$layout-breakpoint: 600px;
$layout-second-breakpoint: 520px;

$widget-width: 39rem;
$widget-height: 30rem;

$form-input-width: 8.5em;

$color-purple: hsl(259, 100%, 65%);
$color-light-red: hsl(0, 100%, 67%);

$color-white: hsl(0, 0%, 100%);
$color-off-white: hsl(0, 0%, 94%);
$color-light-grey: hsl(0, 0%, 86%);
$color-smokey-grey: hsl(0, 1%, 44%);
$color-off-black: hsl(0, 0%, 8%);